[submodule "dependencies/linenoise"]
	path = dependencies/linenoise
	url = https://github.com/antirez/linenoise.git
[submodule "dependencies/libelfin"]
	path = dependencies/libelfin
	url = https://github.com/aclements/libelfin.git
